<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Student Directory</title>
</head>

<body>
<script language="javascript" type="text/javascript">
	var x = window.location.href.split("=")[1];
</script>
<div class="container">

	<h3>Student Directory</h3>
	<hr>
	
	<!-- Add a button -->
	<a th:href="@{/students/showFormForAdd}" onclick="location.href=this.href+'?courseId='+x;return false;"
		class="btn btn-primary btn-sm mb-3">
		Add Student
	</a>
	<!-- Add a show statistics button -->
	<a th:href="@{/students/showstats}" onclick="location.href=this.href+'?courseId='+x;return false;"
		class="btn btn-success btn-sm mb-3">
		View Statistics
	</a>
	
	
	<table class="table table-bordered table-striped">
		
		<thead class="thead-dark">
			<tr>
				<!--th>Student ID</th-->
				<th>First Name</th>
				<th>Last Name</th>
				<th>AM</th>
				<th>Gender</th>
				<th>Registration Year</th>
				<th>Registration Semester</th>
				<th>Department</th>
				<th>Email</th>
				<th>Graduate Status</th>
				<th>Lab Grade</th>
				<th>Final Grade</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempStudent : ${students}">
				
				<!--td th:text="${tempStudent.studentId}" /-->
				<td th:text="${tempStudent.firstName}" />	
				<td th:text="${tempStudent.lastName}" />	
				<td th:text="${tempStudent.am}" />
				<td th:text="${tempStudent.gender}" />				
				<td th:text="${tempStudent.registrationYear}" />
				<td th:text="${tempStudent.registrationSemester}" />
				<td th:text="${tempStudent.department}" />
				<td th:text="${tempStudent.email}" />
				<td th:text="${tempStudent.graduateStatus}" />
				<td th:text="${tempStudent.labGrade}" />
				<td th:text="${tempStudent.finalGrade}" />
				
				<td>
					<!-- Add "update" button/link -->
					<a th:href="@{/students/showFormForUpdate(studentId=${tempStudent.studentId})}" onclick="location.href=this.href+'&courseId='+x;return false;"
					   class="btn btn-primary btn-sm">
						Update
					</a>
					
					<!-- Add "delete" button/link -->					
					<a th:href="@{/students/delete(studentId=${tempStudent.studentId})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure you want to delete this student?'))) return false; location.href=this.href+'&courseId='+x;return false;">
						Delete
					</a>
					<div></div>
			
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	<p><span style="text-decoration: underline; color: #3366ff;"><a th:href="@{/courses/list}" >Back to Course List</a></span></p>
    </div>
	
</div>	
</body>
</html>



